/* 
CLASS & ID OVERSIGT

#header_logo
#footer_logo
.dropdown
.hero
.hero_2
.flex
.flex_text
.flex_img
.btn_roed
.grid_1-1
#b1
#s1
.grid_1-1-1-1
.preview_link
.flex_card
.tal
.preview_text
.flex_nav
.tilbage_btn
.frem_btn 
#nav_index
#nav_portfolio
#nav_om_mig
*/


/* BASELAYOUT */
*{
padding: 0;
margin: 0;
outline: dashed 1px orange;
}
main{
    margin: 0 1rem 0 1rem;
}

/* HEADER + NAVBAR MED DROPDOWN */
header{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    width: 5rem;
    padding: 0.7rem 0.2rem;
    text-align: center;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

nav ul li:hover ul.dropdown{
    display: block;
}

/* FOOTER */
footer{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer_logo{
    order: 3;
}

footer div{
    margin: 0 1rem 0 1rem;
    /* max-width: 650px; */
}

footer h3{
    border-radius: 9999px;
    padding: 0.5rem;
}

footer p, footer a{
    display: block;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}


@media(width<=473px){
    /* HEADER + NAVBAR MED DROPDOWN */
nav ul li:first-child{
    display: none;
}
    
}


@media(width>450px){
    *{
        outline: dashed 1px greenyellow;
    }

}


@media(width>600px){
    *{
        outline: dashed 1px blue;
    }
    /* HEADER + NAVBAR MED DROPDOWN */
    /* nav ul li a{
        display: block;
        padding: 1rem 1.2rem;
        text-align: center;
    } */

    #header_logo{
        height: 100%;
        object-fit:contain;
    }
}


@media(width>900px){
    *{
        outline: dashed 1px red;
    }
}