/* BASESTYLING */
body{
    font-family: var(--p);
    color: var(--text-color-1);
    background-color: var(--bg-color);
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--p);
}
a:visited{
    color: var(--p);
}
h1, h2, h3, h4{
   font-weight: normal;
   font-size: inherit;
}

/* HEADER */
header{
    font-family: var(--h2);
}